<!-- <html></html>
  <head>
    <title>Galaxy</title>
    <link rel="stylesheet" href="galaxy.css">
  </head>
  <style>
  </style>
  <body>
    <h1 class="text">NGC 1300</h1>
    <p class="text">Barred spiral galaxy</p>
  </body>
</html> -->

<!-- <div class="container">
  <h1>BINGO GAME</h1>
  <div class="row">
    <div class="card column column-50">
      <table id="bingo-table">
        <thead>
          <tr>
            <th>B</th>
            <th>I</th>
            <th>N</th>
            <th>G</th>
            <th>O</th>
          </tr>
        </thead>
        <tbody id="bingo-body">
        </tbody>
      </table>
    </div>
    <div class="machine column column-20">
      <div>
        <button id="init">Init</button>
      </div>
      <div>
        <button id="spin">Play</button>
      </div>
      <ul id="messages"></ul>
    </div>
    <div class="column column-30">
      <ol id="numbers-list">
      </ol>
    </div>
  </div>
</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="galaxy.css">
  <title>5x5 Random Number Grid</title>
</head>
<body>
  {% include "_header.html.j2" %}
  <h1>5x5 Random Number Grid</h1>
  <div class="grid-container" id="grid"></div>
  {% for row in test %}
  {% for number in row %}
    <div class="grid-item"><p>{{ number }}</p></div>
    {% endfor %}
  {% endfor %}

  <script>
    // const gridContainer = document.getElementById('grid');

    // // Generate a 5x5 grid with random numbers
    // for (let i = 0; i < 25; i++) {
    //   const gridItem = document.createElement('div');
    //   gridItem.className = 'grid-item';
    //   gridItem.textContent = Math.floor(Math.random() * 100); // Random number between 0-99
    //   gridContainer.appendChild(gridItem);
    // }
  </script>
</body>
</html>