/* body {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Hubble2005-01-barred-spiral-galaxy-NGC1300.jpg/2560px-Hubble2005-01-barred-spiral-galaxy-NGC1300.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px;
  }
  .text {
   /* color: white; */
   /* color: red;
    font-family: sans-serif;
    text-align: end;
  }  */ 
 

  /* body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  } */
  /* h1 {
    margin: 20px 0;
  } */
  /* .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
  .grid-item {
    background-color: #a05d5d;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

h1 {
    margin-top: 20px; /* Add spacing at the top */
    margin-bottom: 20px; /* Add spacing between the title and the grid */
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 125px);
    grid-template-rows: repeat(5, 125px);
    grid-gap: 10px;
    /* max-width: 500px; /* Set maximum width */
   /* max-height: 500px; */
   /* width: calc(5 * 126px + 4 * 10px); */
    width: auto; /* Allow it to scale down if needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 15px;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 1em;
    /* font-size: 20px; */
    display: flex;
    width: 125px; /* Explicitly set width */
    height: 125px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center; /* Center text horizontally */ 
    align-items: center; /* Center text vertically */
    border: 1px solid red;
}