<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>5x5 Random Number Grid</title>
  <link rel="stylesheet" href="galaxy.css">
</head>
<body>
  <h1>5x5 Random Number Grid</h1>
  <pre>{{ pdf_data | tojson }}</pre>
  <div class="grid-container">
    {% for row in pdf_data.bingo_squares %}
      {% for item in row %}
        <div class="grid-item" style="font-size: {{ item.font_size | default('20px')}};">{{ item.phrase }} </div>
      {% endfor %}
    {% endfor %}
  </div>
</body>
</html>