{% extends "base.html" %}

{% block content %}
    <!-- <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %} -->

    <h1> Want to make your own custom bingo form? </h1>
    <para> Fill in the below text with your desired bingo elements. </para>
    <br> </br>
    <textarea name="paragraph_text" cols="50" rows="10"></textarea>
    <br> </br>
    <button>Click here to make Bingo PDF</button>
    

{% endblock %}

<!-- include more text on the limitations of the text box, the button, an option to choose number of boxes-->